*,*::before,*::after{
          margin: 0;
          padding: 0;
          box-sizing: border-box;
}
html{
          scroll-behavior: smooth;
}
@font-face{
          font-family: PoppinsRegular;
          src: url('./fonts/Poppins-Regular.ttf');
}
@font-face{
          font-family: PoppinsBlack;
          src: url('./fonts/Poppins-Black.ttf');
}
@font-face{
          font-family: PoppinsLight;
          src: url('./fonts/Poppins-Light.ttf');
}
a{
          text-decoration: none;
          color: black;
}
h1{
          margin: 0;
          text-decoration: none;
}
section::before {
          content: "";
          min-height: 100px;
          display: block;
}
section{
          width: 100vw;
          height: calc(100vh + 100px);
          max-width: 100%;
          max-height: calc(100% + 100px);
}
#top-navbar{
          position: fixed;
          width:100%;
          top:0;
          background-color: rgb(216, 112, 147);
          display: flex;
          justify-content: center;
          align-items: center;
          box-sizing: border-box;
          z-index: +5;
}
.nav-bar-links ul{
          display: flex;
          justify-content: flex-end;
          align-items: center;
          list-style-type: none;
          max-width: 100%;
          margin-left: 25px;
}
.toggle-button{
          position: absolute;
          top: 30px;
          right: 15px;
          display: none;
          flex-direction: column;
          justify-content: space-between;
          height: 35px;
          width: 35px;
}
.toggle-button .line{
          height: 3px;
          width: 100%;
          background-color: #000;
          border-radius: 5px;
}
@media(max-width : 645px){
          .toggle-button{
                    display: flex;
          }
          .nav-bar-links{
                    display: none;
                    width: 100%;
          }
          #top-navbar{
                    flex-direction: column;
                    align-items: flex-start;
          }
          .nav-bar-links ul{
                    flex-direction: column;
                    width: 100%;
          }
          .nav-bar-links li{
                    width: 100%;
                    text-align: center;
                    margin-top: 200px;
 
          }
          .nav-bar-links li:hover{
                    width: 100%;
                    background-color: rgba(00,00,00,0.3);
          }
          .nav-bar-links.active{
                    display: flex;
          }
}
.name{
          margin: 25px;
          margin-right: auto;
          font-family: PoppinsRegular;
}
.name:hover{
          cursor: pointer;
}

#top-navbar ul li {
          font-family: PoppinsLight;
          margin: 0;
          margin-right: 20px;
}
#top-navbar ul li a{
          transition: all 0.3s ease 0s;
          margin: 0;
          text-decoration: none;
          margin-right: 20px;
          display: block;
}
#top-navbar ul li a:hover{
          color: rgb(227, 252, 253);
}
#section-showcase{
          background-image: radial-gradient(rgb(240,255,244),rgb(180,150,150));
}
.showcase, .home, .about, .blog, .contact{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          height: 75%;
          width: 75%;
          margin: 0 auto;
          font-family: PoppinsBlack;
          font-size: 15px;
          text-align: center; 
}
.showcase{
          font-size: 35px;
          text-align: center;
}
#section-home{
          background-image: radial-gradient(rgba(43,55,96,1),rgba(11,16,35,1));
}
.home{
          color: #fff;
}
.welcome{
          font-size: 50px;
          text-decoration: underline;
}
#home-intro{
          font-size: 25px;
          margin-top: 20px;
}
#home-more{
          font-size: 2em;
          margin-top: 50px;
}
#section-about{
          background-image: radial-gradient(rgb(0, 255, 242),rgb(2, 95, 95));
          box-sizing: border-box;
}
.about{
          font-family: PoppinsRegular;
          color: #000;
}
.me{
          color: rgb(180,50,50);
          font-family: PoppinsRegular;     
          text-decoration: underline #000;     
}
hr{
          margin: 20px 0;
          min-width: 100%;
}
.about-header{
          margin-bottom: 15px;
          font-size: 35px;
          text-decoration: underline rgb(180,50,50);
}
table{
          width: 100%;
}
th{
          height: 23px;
}
#section-projects{
          background-image: radial-gradient(rgb(153, 37, 248),rgb(180,10,150));
}
.projects{
          font-family: PoppinsRegular;
          font-size: 15px;
          text-align: start;
          color: #fff;
          padding: 20px;
          box-sizing: border-box;
}
.project-header{
          margin: 0px;
}
.grid-container{
          display: grid;
          grid-template-columns: auto auto auto;
          grid-gap: 20px;
          padding: 25px;
          text-align: center;
          height: calc(100vh - 250px);
          box-sizing: border-box;
          overflow-y: auto;
}
@media(max-width: 765px){
          .grid-container{
                    display: grid;
                    grid-template-columns: auto;
                    padding: 25px;
                    text-align: center;
                    height: calc(100vh - 250px);
                    box-sizing: border-box;
                    overflow-y: scroll;
          }
}
#project-item{
          border: 2px solid rgba(43,55,96,0.7);
          border-radius: 5px;
          background-color: rgba(43,55,96,0.2);
          transition: all 0.3s ease-out 0s;
}
#project-item:hover{
          transform: scale(1.01);
          cursor: pointer;
}
#project-item img{
          max-width: 200px;
}
#section-blog{
          background-image: radial-gradient(rgb(240,255,24),rgb(134, 110, 2));
}
.blog{
          color: #000;
}
.blog-title{
          color:rgb(0, 0, 0);
          font-size: 1.2rem;
}
#section-contact{
          background-image: radial-gradient(rgb(255, 75, 65),rgb(146, 36, 36));
}
.contact{
          color: #fff;
}
footer{
          text-align: center;
          font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}